<h1 mat-dialog-title>{{'wine-material-batches.edit.header' | translate}}</h1>
<form [formGroup]="editForm" (ngSubmit)="editWineMaterialBatch()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>{{'wine-material-batches.name' | translate}}</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'wine-material-batches.harvest-date' | translate}}</mat-label>
            <input matInput [matDatepicker]="harvestDatePicker" formControlName="harvestDate" />
            <mat-datepicker-toggle matSuffix [for]="harvestDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #harvestDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'wine-material-batches.harvest-location' | translate}}</mat-label>
            <input matInput formControlName="harvestLocation" />
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">{{'common.cancel' | translate}}</button>
        <button mat-raised-button color="primary" [disabled]="editForm.invalid" type="submit">{{'common.confirm' | translate}}</button>
    </div>
</form>
