<app-header></app-header>
<main>
    <div class="container">
        <div class="row mb-3">
            <h2 class="col-12">Grape sorts</h2>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <button mat-raised-button color="primary" (click)="openCreateDialog()">Add new</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="grapeSorts" class="mat-table">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Name</th>
                            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                        </ng-container>

                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef>Created At</th>
                            <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
                        </ng-container>

                        <ng-container matColumnDef="updatedAt">
                            <th mat-header-cell *matHeaderCellDef>Updated At</th>
                            <td mat-cell *matCellDef="let element">{{ element.updatedAt | date }}</td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let element">
                                <a mat-icon-button [routerLink]="[element.id]"><mat-icon>visibility</mat-icon></a>
                                <button mat-icon-button color="accent" (click)="openEditDialog(element)"><mat-icon>edit</mat-icon></button>
                                <button mat-icon-button color="warn" (click)="openDeleteDialog(element)"><mat-icon>delete</mat-icon></button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
