<h1 mat-dialog-title>Parameter Details</h1>
<div mat-dialog-content>
    <p><strong>Parameter Name:</strong> {{ parameterDetail.name }}</p>
    <div *ngIf="parameterDetail.phases.length > 0">
        <p><strong>Phases:</strong></p>
        <ul>
            <li *ngFor="let parameter of parameterDetail.phases">{{ parameter.name }}</li>
        </ul>
    </div>
    <p *ngIf="parameterDetail.phases.length === 0">No phases.</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
</div>
