<h2 mat-dialog-title>{{'wine-material-batches.phases.sensors' | translate}}</h2>
<mat-dialog-content>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let group of wineMaterialBatchPhaseSensors">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ group.parameterName }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngFor="let sensor of group.sensors">
                <p>{{'sensors.id' | translate}}: {{ sensor.id }} | {{'sensors.status' | translate}}: {{statuses[sensor.status]}}</p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="availableSensors && availableSensors.length > 0">
        <form [formGroup]="assignSensorForm" (ngSubmit)="onSubmit()">
            <div formArrayName="sensorGroups" *ngFor="let group of sensorFormGroups; let i = index">
                <h3>{{'sensors.parameter' | translate}}: {{availableSensors[i].parameterName}}</h3>
                <div [formGroupName]="i">
                    <div formArrayName="sensors">
                        <div *ngFor="let sensor of availableSensors[i].sensors; let j = index">
                            <mat-checkbox [formControlName]="j">{{sensor.id}}</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <button mat-raised-button color="primary" type="submit">{{'wine-material-batches.phases.assign-sensors' | translate}}</button>
        </form>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close="false">{{'common.close' | translate}}</button>
</mat-dialog-actions>
