<h1 mat-dialog-title>{{'phases.create.header' | translate}}</h1>
<form [formGroup]="createForm" (ngSubmit)="createPhase()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>{{'phases.name' | translate}}</mat-label>
            <input matInput formControlName="name" required />
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">{{'common.cancel' | translate}}</button>
        <button mat-raised-button color="primary" [disabled]="createForm.invalid" type="submit">{{'common.confirm' | translate}}</button>
    </div>
</form>
