<h1 mat-dialog-title>{{ 'phases.details.header' | translate }}</h1>
<div mat-dialog-content>
    <p><strong>{{ 'phases.name' | translate }}:</strong> {{ phaseDetail.name }}</p>
    <div *ngIf="phaseDetail.parameters.length > 0">
        <p><strong>{{ 'phases.parameters' | translate }}:</strong></p>
        <ul>
            <li *ngFor="let parameter of phaseDetail.parameters">{{ parameter.name }}</li>
        </ul>
    </div>
    <p *ngIf="phaseDetail.parameters.length === 0">{{'phases.details.no-parameters' | translate}}</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">{{'common.close' | translate}}</button>
</div>
