<h1 mat-dialog-title>Configure Parameters</h1>
<div mat-dialog-content>
    <div>
        <h3>Available Parameters:</h3>
        <mat-selection-list #availableParameters>
            <mat-list-option *ngFor="let parameter of availableParametersList" [value]="parameter">
                {{ parameter.name }}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div>
        <h3>Linked Parameters:</h3>
        <mat-selection-list #linkedParameters>
            <mat-list-option *ngFor="let parameter of linkedParametersList" [value]="parameter">
                {{ parameter.name }}
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button [disabled]="availableParameters.selectedOptions.selected.length === 0" (click)="addParameter(availableParameters.selectedOptions.selected)">Link</button>
    <button mat-button [disabled]="linkedParameters.selectedOptions.selected.length === 0" (click)="removeParameter(linkedParameters.selectedOptions.selected)">Unlink</button>
    <button mat-button (click)="close()">Close</button>
</div>
