<h2 mat-dialog-title>{{'quality-prediction-settings.models.train.header' | translate}}</h2>
<div mat-dialog-content>
    <form [formGroup]="trainModelForm">
        <mat-form-field>
            <mat-label>{{'quality-prediction-settings.models.train.select-dataset' | translate}}</mat-label>
            <mat-select formControlName="datasetId">
                <mat-option *ngFor="let dataset of data.datasets" [value]="dataset.id">{{dataset.datasetInfo.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">{{'common.cancel' | translate}}</button>
    <button mat-button (click)="trainModel()" [disabled]="trainModelForm.invalid">{{'common.confirm' | translate}}</button>
</div>
