<h2 mat-dialog-title>Train new model</h2>
<div mat-dialog-content>
    <form [formGroup]="trainModelForm">
        <mat-form-field>
            <mat-label>Select dataset</mat-label>
            <mat-select formControlName="datasetId">
                <mat-option *ngFor="let dataset of data.datasets" [value]="dataset.id">{{dataset.datasetInfo.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">{{'common.cancel' | translate}}</button>
    <button mat-button (click)="trainModel()" [disabled]="trainModelForm.invalid">Train</button>
</div>
