<app-header></app-header>
<main>
    <div class="container">
        <div class="row mb-3">
            <div class="col-12">
                <a mat-raised-button [routerLink]="['/wine-material-batches/' + wineMaterialBatchDetails.id]">{{'common.back' | translate}}</a>
            </div>
            <div class="col-12">
                <h1>{{ wineMaterialBatchDetails.name }}</h1>
                <p>{{'wine-material-batches.grape-sort' | translate}}: {{ wineMaterialBatchDetails.grapeSort.name }}</p>
                <p>{{'wine-material-batch-phases.phase.header' | translate}}: {{ wineMaterialBatchGrapeSortPhaseDetails.phase.phaseName }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <mat-accordion multi>
                    <mat-expansion-panel *ngFor="let parameterDetail of wineMaterialBatchGrapeSortPhaseDetails.parametersDetails" [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ parameterDetail.parameter.name }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <ng-container *ngIf="parameterDetail.standard">
                            <p>{{'wine-material-batch-phases.phase.parameters.standard' | translate}}: {{ parameterDetail.standard.lowerBound }} ... {{ parameterDetail.standard.upperBound }}</p>
                            <button mat-raised-button (click)="openChartDialog(parameterDetail)">{{'wine-material-batch-phases.phase.parameters.show-chart' | translate}}</button>
                        </ng-container>
                        <p>{{'wine-material-batch-phases.phase.sensors.header' | translate}}:</p>
                        <mat-list>
                            <mat-list-item *ngFor="let sensor of parameterDetail.sensors">
                                {{ sensor.id }} ({{statuses[sensor.status]}}): {{ sensor.lastValue | number:'1.0-5' }}
                                <ng-container *ngIf="sensor.status == DeviceStatus.Working">
                                    <button mat-raised-button (click)="stopSensor(sensor)">{{'sensors.stop' | translate}}</button>
                                </ng-container>
                                <ng-container *ngIf="sensor.status == DeviceStatus.BoundariesUpdated || sensor.status == DeviceStatus.Stopped">
                                    <button mat-raised-button (click)="startSensor(sensor)">{{'sensors.start' | translate}}</button>
                                </ng-container>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="col-4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{'wine-material-batch-phases.phase-status.header' | translate}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>

                        <ng-container *ngIf="wineMaterialBatchGrapeSortPhaseDetails.isActive; else phaseIsNotActive">
                            <p>{{'wine-material-batch-phases.phase-status.process-running' | translate}}</p>
                            <button mat-raised-button color="primary" (click)="openPredictQualityModal()">{{'wine-material-batch-phases.phase-status.predict-quality' | translate}}</button>
                            <ng-container *ngIf="predictionResult">
                                <button mat-raised-button color="primary" (click)="openShowPredictionDetailsModal()">{{'wine-material-batch-phases.phase-status.prediction-details' | translate}}</button>
                            </ng-container>
                        </ng-container>
                        <ng-template #phaseIsNotActive>
                            <div *ngIf="!startProcessAllowed">
                                <p>{{'wine-material-batch-phases.phase-status.cannot-start-reasons' | translate}}:</p>
                                <ul>
                                    <li *ngFor="let reason of startProcessNotAllowedReasons">{{ reason }}</li>
                                </ul>
                            </div>
                            <div *ngIf="startProcessAllowed">
                                <p>{{'wine-material-batch-phases.phase-status.start-allowed' | translate}}</p>
                                <button mat-raised-button color="primary" (click)="openStartPhaseProcessModal()">{{'wine-material-batch-phases.phase-status.start-process' | translate}}</button>
                            </div>
                        </ng-template>
                        <div>
                            <a mat-raised-button [routerLink]="['/wine-material-batches/'+this.wineMaterialBatchDetails.id + '/phases/' + this.wineMaterialBatchGrapeSortPhaseDetails.id + '/predictions-history']">{{'wine-material-batch-phases.phase-status.predictions-history' | translate}}</a>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>

                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</main>
