<h1 mat-dialog-title>{{'wine-material-batch-phases.predict-quality.header' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="predictionForm" (ngSubmit)="predictQuality()">
        <mat-form-field>
            <mat-select placeholder="{{'wine-material-batch-phases.predict-quality.select-model' | translate}}" formControlName="selectedModel">
                <mat-option *ngFor="let model of models" [value]="model.id">
                    {{model.modelName}} {{'wine-material-batch-phases.predict-quality.accuracy' | translate}}: {{model.accuracy}} {{'wine-material-batch-phases.predict-quality.trained-at' | translate}} {{model.createdAt}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">{{'common.cancel' | translate}}</button>
    <button mat-raised-button color="primary" (click)="predictQuality()">{{'wine-material-batch-phases.predict-quality.predict' | translate}}</button>
</div>
