<h1 mat-dialog-title>{{'parameters.edit.header' | translate}}</h1>
<form [formGroup]="editForm" (ngSubmit)="editParameter()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>{{'parameters.name' | translate}}</mat-label>
            <input matInput formControlName="name" required />
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">{{'common.cancel' | translate}}</button>
        <button mat-raised-button color="primary" [disabled]="editForm.invalid" type="submit">{{'common.confirm' | translate}}</button>
    </div>
</form>
